*{
    margin: 0;
    padding: 0;
}
.container{
    position: relative;
    width: 320px;
    height: 480px;
    background: url("../images/game_bg.jpg")no-repeat 0 0;
    margin: 50px auto;
}
.container .score{
    color: #fff;
    margin-left: 60px;
}
.container .progress{
    position: absolute;
    width: 180px;
    height: 16px;
    background: url("../images/progress.png");
    left: 63px;
    top: 66px;
}
.container .star{
    position: absolute;
    width: 150px;
    line-height: 35px;
    text-align: center;
    font-size: 20px;
    color: #fff;
    background: linear-gradient(#E55C3D,#C50000);
    border-radius: 20px;
    border: none;
    outline:none;
    top: 320px;
    left: 50%;
    margin-left: -75px;
}
.container .rules{
    width: 100%;
    height: 20px;
    position: absolute;
    text-align: center;
    bottom: 0;
    background-color: #ccc;
}
.container .rule{
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    left: 0;
    top: 0;
    box-sizing: border-box;
    padding-top: 100px;
    text-align: center;
    display: none;
}
.rule p{
    line-height: 50px;
}
.rule a{
    color: red;
}
.container .mask{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    left: 0;
    top: 0;
    box-sizing: border-box;
    padding-top: 200px;
    text-align: center;
    display: none;
}
.mask h1{
    color: #ff4500;
    text-shadow: 3px 3px 0 #fff;
    font-size: 40px;
}
.mask .reStar{
    width: 150px;
    line-height: 35px;
    text-align: center;
    font-size: 20px;
    color: #fff;
    background: linear-gradient(#74ACCF,#007DDC);
    border-radius: 20px;
    border: none;
    margin-top: 67px;
}